<!--<h1>Public::Posts#show</h1>-->
<!--<p>Find me in app/views/public/posts/show.html.erb</p>-->

<div class="container">
  <div class="row">
    <h1>投稿詳細</h1>
  </div>

  <%= render 'list_post_show', post: @post, post_comment: @post_comment %>
</div>
