<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center"><b>About</b></h1>
      ここ「swell」は、自分の推しているアイドルやアーティストが訪れた場所・アクセス方法等を投稿し、ファン同士で共有する聖地巡礼まとめコミュニティサイトです。<br>
      <br>
      「swell」には、「great」や「wonderful」などの英語に似ていて、「素晴らしい」のようなニュアンスがあったり、かつ、（感情が）高まる、（胸が○○で）いっぱいになる、といった意味もあることから、聖地巡礼場所に行った時のファンみなさんの気持ちにちなんで名前をつけました。<br>
      <br>
      みなさんの推し事（おしごと）が充実するよう、よい空間になれば幸いです！
    </div>
  </div>
</div>
