<div class="container">
  <div class="row">
    <div class="col-md-9">
        <h1>swell へようこそ！</h1>
    </div>
    <div class="col-md-2 offset-md-1">
      <div style="text-align:center">
        <% if user_signed_in? %>
          &nbsp<%= link_to '新規投稿', new_post_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'timeline', posts: @posts %>
</div>