<!--<h1>Admin::Homes#top</h1>-->
<!--<p>Find me in app/views/admin/homes/top.html.erb</p>-->

<h1>swell 管理者サイト</h1>

<%= link_to '投稿一覧', admin_posts_path, class: "btn btn-sm btn-primary" %>
&nbsp&nbsp<%= link_to '会員一覧', admin_users_path, class: "btn btn-sm btn-primary" %>
