<!--<h1>Admin::Homes#top</h1>-->
<!--<p>Find me in app/views/admin/homes/top.html.erb</p>-->

<h1>swell 管理者サイト</h1>

<h3>全ユーザー投稿一覧</h3>
<div class="posts">
  <% @posts.each do |post| %>
    <%= link_to admin_post_path(post.id) do %>
      <!--投稿日付-->
      <%= post.created_at %>
      <!--ユーザー名-->
      <%= post.user_id %>
      <!--タイトル-->
      <%= post.title %>
    <% end %>
  <% end %>
</div>
