<!--<h1>Admin::Homes#top</h1>-->
<!--<p>Find me in app/views/admin/homes/top.html.erb</p>-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center"><b>swell 管理者サイト</b></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>全ユーザー投稿一覧</h3>
    </div>
  </div>
  <%= render 'public/homes/timeline', posts: @posts %>
</div>

