<!--<h1>Admin::Posts#show</h1>-->
<!--<p>Find me in app/views/admin/posts/show.html.erb</p>-->

<h1>投稿詳細</h1>

<!--↓↓↓ 画面左側 ↓↓↓-->

<!--画像（複数画像がある場合はスライド）-->
<!--ユーザー名（ユーザー詳細に遷移）-->
<!--投稿日時-->
<!--住所-->

<!--↓↓↓ 画面右側 ↓↓↓-->

<!--title-->
<!--内容-->
<!--コメント一覧-->
<!--投稿ステータス（有効か無効か表示する）-->
<!--「ステータスを変更する」ボタン（緑ボタン）-->
