<!--<h1>Admin::Posts#show</h1>-->
<!--<p>Find me in app/views/admin/posts/show.html.erb</p>-->
<div class="container">
  <div class="row">
    <h1>投稿詳細</h1>
  </div>

  <%= render 'public/posts/list_post_show', post: @post %>
</div>
